[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
[submodule "boost/test"]
	path = boost/test
	url = https://github.com/boostorg/test.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
	branch = master
